*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-family: monospace;
    font-size: 20px;
    background-color: black;
    overflow-x: hidden;
}

.menu{
    height: 60px;
    background-color: black;
    color: #fff;
    padding: 2rem 1rem; 
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    transition: .3s;
}

i:hover{
    color: darkorange;
    cursor: pointer;
} 

.clip-menu{
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sottomenu{
    gap: 2rem; 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid darkorange;
    padding: 1rem 1rem;
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: 1rem;
    background-color: #000;
}

.clip-menu:hover .sottomenu{
    transition: .5s;
    visibility: visible;
    opacity: 1;
}

.container{
    color: black;
    background-color: black;
}

.container img{
    width: 100%;
    display: block;
    background-color: black;
}

a{
    text-decoration: none;
    color: #c0c6c8;
}

a:hover{
    color: darkorange;
}

.contatti{
    display: flex;
    justify-content: flex-end;
}

.info{
    color: #fff;
    display: flex;
    justify-content: center;
}

.contatti-footer{
    visibility: hidden;
}



@media only screen and (min-width: 480px) and (max-width: 750px) {
    
    .menu div{
        display: inline;
        flex-wrap: nowrap;    
    }

    .container img{
        padding: 2rem;
    }
    .sottomenu{
        gap: 1rem;
    }

    .contatti{
        display: flex;
        flex-wrap: nowrap;
    }
    .info{
        text-align: center;
    }
    .contatti-footer{
        visibility: hidden;
    }
}

@media only screen and (max-width: 479px) {

    .menu{
        display: flex;
        margin-top: 0;
        position: static;
    }

    .contatti-header{
        visibility: hidden;
    }
    .i{
        display: flex;
        justify-content: flex-end;
        margin-right: 0.5rem;
    }
    .info{
        text-align: center;
    }

    .contatti-footer{
        visibility: visible;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}