*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;   
}

body{
    font-family: monospace;
    font-size: 20px;
    background-color: black;
    color: white;
}

.menu{
    background-color: black;
    color: #fff;
    padding: 2rem 1rem; 
    font-size: 25px;
    position: fixed;  
    width: 100%; 
}

i:hover{
    color: darkorange;
    cursor: pointer;
}

.clip-menu{
    position: absolute;
    left: 50%;
    flex-direction: column;
    gap: 1rem;
    transition: .3s;
}

.sottomenu{
    gap: 2rem; 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid darkorange;
    padding: 1rem 1rem;
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: 2rem;
    background-color: #000;
}

.clip-menu:hover .sottomenu{
    transition: .5s;
    visibility: visible;
    opacity: 1;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: darkorange;
}

i{
    color: white;
}

.i:hover{
    color: darkorange;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.motocross{
    display: flex;
    justify-content: flex-end;
    padding: 4rem 6rem;
}

.viaggi{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding: 4rem 6rem;
}
.desc-viaggi{
    display: flex;
    align-self: center;
    padding-right: 2rem;
}

.hobby{
    display: flex;
    justify-content: flex-end;
    padding: 4rem 6rem;
}

.desc{
    display: flex;
    align-self: center;
    padding-left: 2rem;
}

img{
    width: 300px;
    border-radius: 10px;
}



@media only screen and (max-width: 900px){
    
    .hobby{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .viaggi{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .motocross{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .UpMenu{
        display: flex;
        flex-direction: column;
    }
}